.panda-bg-info{
    background-color:#ffe8e8;
}
.categories img{
    width: 100px;
}
.panda-panda-buy{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 50%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
